ul {
	list-style-type: none;
}
.element {
	padding: 0.5rem;
}
.ic {
	width: 0.75rem;
}
.tareaDone {
	font-style: italic;
	font-weight: lighter;
}
.btn {
	margin: 0.4rem;
}
.btnDone {
	font-style: italic;
	font-weight: lighter;
}
.tareaPending {
	font-weight: bold;
}
.btnPending {
	font-weight: bold;
}
.newTask {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 2rem;
}
.newTaskForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	min-height: 15vh;
}
.inTask {
	min-width: 40vw;
}
.myTasks {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.icCheck {
	display: none;
	width: 4rem;
	margin: 4.7rem;
}
